.container-error {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
  background-image: url("../images/error-404.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  margin-bottom: 40px;
  position: relative;
  gap: 10px;
  width: 80%;
  margin: auto;
}

.container-error h1 {
  font-size: 30px;
  color: var(--red);
  text-transform: uppercase;
}

.container-error p {
  font-size: 20px;
  color: var(--white);
  text-align: center;
}

.container-error a {
  text-decoration: none;
  color: var(--red);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid var(--red);
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  inset: 0;
  margin: auto;
  width: max-content;
  height: max-content;
}

.container-error a:hover {
  background-color: var(--red);
  color: var(--white);
}
